.textBox{
  text-align: center;
  border: 5px solid blueviolet;
}

.blueMas{
  display:block;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  top: 10px;
}

.blueMas:active{
  top: 0px;
}

.buttonArea{
  text-align: center;
  position: relative;
}

.fadeOut {
  animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
